@import mixins
@import variables
@import reset
@import "../bower_components/sagan/_grid.sass"
@import "../bower_components/font-awesome/scss/font-awesome.scss"

strong
  font-weight: 700

html,
body
  height: 100%
  width: 100%

+layout('#main', $layout: "container")

#main
  position: relative

#intro
  -webkit-font-smoothing: antialiased
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px

header[role="banner"]
  font-family: $raleway
  margin-bottom: 20px
  padding-top: 66.5%
  background: url("https://scontent-a-pao.xx.fbcdn.net/hphotos-frc3/t1.0-9/1533903_10101101625510497_1249771273_n.jpg") no-repeat center center
  margin-right: -(percentage($gutter) / 2)
  margin-left: -(percentage($gutter) / 2)
  color: $body
  text-align: center
  padding-bottom: 20px
  font-weight: 700
  font-size: 24px
  text-shadow: 1px 1px 0 rgba(0,0,0,0.6)

#close-resume,
#download-resume,
#show-resume
  display: none

#resume
  h2
    font-family: $raleway
    font-size: 18px
    margin-bottom: 20px
  li
    position: relative      

#experience
  margin-bottom: 20px

#legal
  text-transform: uppercase
  font-family: $raleway
  background: $body
  color: #000
  opacity: 0.6
  +prefix(transition, "opacity 200ms ease-in-out")
  font-size: 12px

  &:hover
    opacity: 1
  a
    color: inherit

+respond-to($val: $desktopBreakpoint)

  +columns($selector:"#intro", $count:3)

  body
    background: url("https://scontent-a-pao.xx.fbcdn.net/hphotos-frc3/t1.0-9/1533903_10101101625510497_1249771273_n.jpg") no-repeat center center
    background-size: cover

  header[role="banner"]
    padding-top: 0
    background: none

  #main
    height: 100%

  #intro
    margin-top: 40px
    margin-bottom: 40px
    color: $body
    h1
      font-size: 24px

  #resume
    display: none
    position: absolute
    background: #fff
    top: 40px
    bottom: 40px
    left: 0
    right: 0
    box-sizing: border-box
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    max-width: 98%
    margin: 0 auto
    &.visible
      display: block
    .wrap
      padding: 40px 20px
      overflow-y: scroll
    .posting
      overflow-y: hidden
      clear: both
      margin-bottom: 10px
    h3
      float: left
    h4
      &.date
        float: right
    ul[itemprop="responsibilities"]
      list-style: disc
      li
        margin-left: 2em

  #close-resume,
  #download-resume
    display: block
    position: absolute
    top: 15px
    color: gray
    text-decoration: none
  #show-resume
    display: block

  #download-resume
    left: 20px
    font-size: 13px
    text-transform: uppercase
  
  #close-resume
    right: 15px
    opacity: 0.7
    +prefix(transition, "opacity 200ms ease-in-out")
    &:hover
      opacity: 1

  #legal
    position: absolute
    bottom: 10px
    right: 10px
    text-align: center
    padding: 3px 2px
    border-radius: 2px
    a
      height: 20px
      width: 20px
      font: 0/0 serif
      text-shadow: none
      color: transparent
      background: url("http://totes.awe-so.me/apple-touch-icon-57x57-precomposed.png") no-repeat center center
      background-size: contain
      display: block

@import print